# Compiled class file
.class

# Log file
.log

# Package Files #
.jar
.war
.nar
.ear
.zip
.tar.gz
.rar

# Idea
.idea/

# Target
/target

# Build
/build

# Allure
/.allure
/allure-results

# virtual machine crash logs
hs_err_pid